.PLATE {
    .listItem {
        display: inline-flex;
        height: 300px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

.LIST {
    .listItem:not(:last-child) {
        margin-bottom: 16px;
    }
}
