.Code {
    position: relative;
    border: 1px solid var(--primary-color);
    padding: 16px;
    background: var(--code-bg);
    overflow-y: hidden;
}

.copyButton {
    position: absolute;
    right: 16px;
    top: 16px;
}

.copyIcon path {
    stroke: var(--primary-color);
}
